html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	margin: 0 0 7.4em 0; /* = footer height + 1em */
}

h1, h2 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.button {
	transition: filter 0.3s;
}

.button:hover {
	filter: brightness(120%) !important;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #39322c;
	color: white;
}

.header > a {
	margin: 0.5em 2em;
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.header > a > div {
	display: flex;
	flex-direction: column;
	align-items: end;
}

#dropinput  {
    display: none;
}

.dropbtn {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 100%;
}

.dropbtn span {
    border-bottom: solid hsl(120, 40%, 40%) 0.5em;
    height: 100%;
    align-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#dropinput:checked +.dropbtn + .dropdown-content {
    display: block;
}

#dropinput:checked +.dropbtn span {
    border-color: hsl(120, 40%, 50%);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #eee;
	margin-top: 2em;
	align-items: center;

	position: absolute;
	left: 0;
	bottom: 0;
	height: 6.4em; /* = 3em + 2 * 0.7em + 2 * 1em */
	width: 100%;
}

.social {
	border-radius: 50%;
	background-color: lightblue;
	display: flex;
	padding: 0.7em;
	margin: 1em;
}

.social img {
	height: 3em;
}

footer .link {
	color: black;
	text-decoration: underline;
	margin-right: 1em;
}


.index-image {
	height: 400px;
	width: 600px;
	display: flex;
	justify-content: center;
	transition: filter 0.3s;
	background-position: center;
    background-size: cover;
}

.index-image:hover {
	filter: brightness(0.8);
}

.index-image > span {
	color: white;
	font-size: 4em;
	font-weight: bold;
	align-self: center;
	width: 100%;
	text-align: center;
}


.home-theme-image > img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.home-theme-image {
	position: relative;
}

.home-theme-image > div {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50%);
}

.home-theme-image > div > div {
  display: flex;
  margin: 0 2rem;
  height: 100%;
  flex-direction: column;
}

.home-theme-image:hover > div {
  visibility: visible;
  opacity: 1;
}

.content {
	display: flex;
	justify-content: center;
}

.content > div {
	margin: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 70%;
}

blockquote {
  padding-left: 1em;
  border-left: 0.2em solid #99b9c8;
  line-height: 1.5em;
}
blockquote:before, blockquote:after {
    color: #99b9c8;
    font-size: 30px;
}
blockquote:before {content: '\201e'}
blockquote:after {content: '\201c';}
blockquote cite {font-size: 80%; text-align:center; top:50%}
blockquote cite:before {content: ' \2015 '}

@media only screen and (max-width: 640px) {
  .index-image {
    width: 100%;
  }
}
